* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    background-color: #928ca0;
}

.container {
    display: grid;
    width: 800px;
    height: 800px;
    border: 2px solid #333;
    margin: 10px;
}

.box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.welcome {
    font-size: 20px;
    border-radius: 12px;
    width: 400px;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin-top: 20px;
    background-color: rgb(195, 0, 255);
    color: white;
    text-align: center;
}

.input {
  height: 50px;
  width: 100px;
  background-color: #db6ae8;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}